<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-signals/core-signals.html">

<polymer-element name="mc-home" attributes="gameId">
    <template>
        <h1>Home</h1>

        <input type="text" value="{{gameId}}" placeholder="Game ID"> <button on-tap="{{goToGame}}">Go</button>

        <div>
            <button on-tap="{{createNewGame}}">Create New Game</button>
        </div>
    </template>
    <script>
        function generateRandomId() {
            return Math.random().toString(36).substr(2, 7);
        }

        Polymer({
            goToGame: function () {
                this.fire('main');
            },

            createNewGame: function () {
                var id = generateRandomId(),
                    gamesRef = new Firebase('https://munchkincounter.firebaseio.com/games/' + id),
                    game = {
                        players: [],
                        winningLevel: 10,
                        createDate: Firebase.ServerValue.TIMESTAMP
                    },
                    newGameRef = gamesRef.set(game);

                this.gameId = id;
                this.fire('setup');
            }
        });
    </script>
</polymer-element>
