<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-signals/core-signals.html">

<polymer-element name="mc-home">
    <template>
        <style>
            :host {
                display: block;
                background-color: red;
            }
        </style>
        <h1>Home</h1>

        <button on-tap="{{setUpGame}}">Setup</button>
    </template>
    <script>
        Polymer({
            setUpGame: function () {
                this.fire('setup');
            }
        });
    </script>
</polymer-element>
