<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../../bower_components/font-roboto/roboto.html">
<link rel="import" href="../../bower_components/flatiron-director/flatiron-director.html">
<link rel="import" href="../mc-home/mc-home.html">
<link rel="import" href="../mc-setup/mc-setup.html">
<link rel="import" href="../mc-game/mc-game.html">
<link rel="import" href="../mc-player/mc-player.html">

<polymer-element name="mc-app">
    <template>
        <style>

            core-animated-pages,
            section,
            section > * {
                height: 100%;
            }

        </style>

        <!-- route controller -->
        <flatiron-director route="{{route}}" autoHash></flatiron-director>

        <!-- <core-animated-pages id="pages" transitions="hero-transition cross-fade cross-fade-delayed" selected="{{selected}}"> -->
        <core-animated-pages id="pages" selected="{{route}}" valueattr="hash">
            <mc-home hash="home" gameId="{{gameId}}"></mc-home>
            <mc-setup hash="setup/{{gameId}}" gameId="{{gameId}}"></mc-setup>
            <mc-game hash="game/{{gameId}}" players={{players}} player="{{player}}" playerId="{{playerId}}" gameId="{{gameId}}" on-core-activate="{{playerChanged}}"></mc-game>
            <mc-player hash="player/{{gameId}}" player="{{player}}" playerId="{{playerId}}" gameId="{{gameId}}"></mc-player>
        </core-animated-pages>
    </template>

    <script>
        Polymer({
            eventDelegates: {
                'main': function () {
                    //this.$.pages.selected = 'game';
                    this.route = 'game/' + this.gameId;
                },

                'setup': function () {
                    //this.$.pages.selected = 'setup';
                    this.route = 'setup/' + this.gameId;
                }
            },

            playerChanged: function () {
                if (this.player) {
                    this.$.pages.selected = 'player';
                } else {
                    this.$.pages.selected = 'game';
                }
            },

            ready: function () {
                this.route = this.route || 'home';
            }
        });
    </script>
</polymer-element>
