<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-selector/core-selector.html">
<link rel="import" href="../../bower_components/core-signals/core-signals.html">
<link rel="import" href="../../bower_components/firebase-element/firebase-element.html">

<polymer-element name="mc-game" attributes="players player playerId gameId" layout vertical>
    <template>
        <style>
            :host {
                color: white;
            }

            .player {
                -webkit-box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.5);
                box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.5);
            }

            .level {
                font-size: 60px;
                font-weight: 100;
            }

            .avatar {
                background-color: #ccc;
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 5px solid white;
            }

            button {
                position: absolute;
                right: 15px;
                top: 15px;
            }
        </style>

        <firebase-element id="base" location="https://munchkincounter.firebaseio.com/games/{{gameId}}" data="{{game}}"></firebase-element>

        <core-selector on-core-select="{{playerSelected}}" fit layout horizontal>
            <template repeat="{{key in keys(game.players)}}">
                <div class="player" hero-id="{{player.name === game.players[key].name ? 'punch' : ''}}" hero?="{{player.name === game.players[key].name}}" style="background-color: {{game.players[key].color}}" flex layout vertical center center-justified>
                    <h1>{{game.players[key].name}}</h1>
                    <div class="avatar"></div>
                    <h1 class="level">{{game.players[key].level}}</h1>
                </div>
            </template>
        </core-selector>

        <button on-tap="{{goToSetup}}">Setup</button>
    </template>

    <script>
        Polymer({
            keys: function (input) {
                if (input) {
                    return Object.keys(input);
                }
            },

            playerSelected: function (event) {
                if (event.detail.isSelected) {
                    var key = event.detail.item.templateInstance.model.key;

                    this.player = this.game.players[key];
                    this.playerId = key;
                }
            },

            goToSetup: function () {
                this.fire('setup');
            }
        });
    </script>
</polymer-element>
